<div id="map">
  
</div>

 <div id="container" class="col-sm-4 mb-3">
   

  <button class="button button1 btn-block" onclick="record()">Start record</button> 
  <button class="button button1 btn-block" onclick="stopRecord()">Stop record</button>
  <form action="/newroute" method="POST">  
    <input type="hidden" id="latArr" name="latArr" value=""/>
    <input type="hidden" id="lonArr" name="lonArr" value=""/>
    <div class="form-group">
     <button class="button button1 btn-block" type="submit"> Save Route </button>
    </div>
  </form>
  </div>

<script src="../../js/map.js"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiBf4m7ClP7aXF3MME0c1oo0nGMa336kM&callback=initMap">
</script>