<div id="map">
  
</div>

<div>
    <button onclick="record()">Start record</button> 
    <button onclick="stopRecord()">Stop record</button> 
</div>

 <div id="container" class="col-sm-4 mb-3">
      
  </div>

<script src="../../js/map.js"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiBf4m7ClP7aXF3MME0c1oo0nGMa336kM&callback=initMap">
</script>