<div class="jumbotron mt-2">
  <h1 class="display-4">GPS Track App Nodejs And Mongodb!</h1>
  <p class="lead">A real time tracking app* developed with Nodejs, Express, Mongodb and Javascript for EAFIT UNIVERSITY's ST0263 course.</p>
  <hr class="my-4">
  <p>Based on Faztweb's web development course: </p>
  <a class="button button1 btn-lg" href="http://faztweb.com" role="button">FaztWeb</a>
</div>
